<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show comment</title>
  </head>
  <body>
    <h1>Comment by <%= comment.username %></h1>
    <p><%= comment.text %> - <%= comment.id %></p>
    <a href="/comments">Back</a>
  </body>
</html>
